# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment variables
.env

# Generated media
generated_images/
generated_audio/
/tmp/generated_videos/
sessions/
*.wav
*.mp3
*.mp4
*.png

# Logs
server_logs/
*.log

# IDE / Editor specific
.idea/
.vscode/
*.swp
*~
